@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-quiz{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px black;
    border-radius: 5px;
    height: 100%;
    padding: 1.2rem;
}

#container-questao {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#imagem-questao {
    height: 12rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    margin-bottom: 1.2rem;
    margin-top: 0.5rem;
    border-radius: 20px;
    #texto-questao {
        color: white;
        font-size: 1.5rem;
        font-weight: bolder;
        text-shadow: 0 0 5px #FF0000, 0 0 5px #0000FF;
   }
}

.none {
    display: none;
}
.respostas{
    display:flex; 
    flex-direction: column;
    gap: 0.9rem;
    width: 100%;
}
.alternativa{
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px grey;
    padding: 0.7rem;
    width: 100%;
    gap: 1rem;
    font-weight: 500;
    border-radius: 14px;
}
#n-questao{
    font-weight: 700;
}
.selecionado{
    background-color: rgb(63, 210, 63);
    color: white;
    
}
.selecionado input[type="radio"]:checked{
    accent-color: black;
}
#submit-resposta